*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}

h1{
    width:100%;
    text-align: center;
    font-size:3.5em;
    color:black;
    margin-bottom: 20px;
}

.row{
    display:flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
}

.column{
    width:100%;
    padding:0.5em 0;
}

.card{
    box-shadow: 0 0 2.4em rgba(25,0,58,0.1);
    padding:3.5em 1em;
    border-radius:0.6em;
    color:#1f003b;
    cursor:pointer;
    transition:0.3s;
}

.card .img-container{
    width:9em;
    height:8em;
    background-color: gray;
    padding:0.5em;
    border-radius:50%; 
    margin:0 auto 2em auto;
}

.card img{
    width:100%;
    height: 100%;
    border-radius: 100%;
}

.card h3{
    font-weight:500;
}
.card p{
    font-weight:100;
    text-transform: uppercase;
    margin:0.5em 0 2em 0;
    letter-spacing:2px;
}

.icons{
    width:50%;
    min-width:180px;
    margin:auto;
    display:flex;
    justify-content:space-between;    
}

.card a{
    text-decoration: none;
    color:inherit;
    font-size: 1.4em;
}

.card:hover{
    background:black;
    color:#ffffff;
}

.card:hover .img-container{
    transform: scale(1.15);
}

@media screen and (min-width: 762px){
    section{
        padding: 1em 7em;
    }
}

@media screen and (min-width: 968px){
    section{
        padding: 1em;
    }
    .card{
         padding: 5em 1em;
    }
    .column{
        flex:0 0 33.33%;
        max-width:33.33%;
        padding:0 1em;
    }
}

.category h2{
    text-align: center;
}

.logo img{
    margin-left:41%;
    width:260px;
    height:130px;
}

.header{
    height: 140px;
    top:0;
    left:0;
    right:0;
    position:sticky;
    box-shadow: 0 0 2.4em rgba(25,0,58,0.1);
    background-color: #ffffff;
    border-bottom-width:3px;
    border-bottom-style: solid;
    border-bottom-color: rgb(192, 189, 189);
    
}

.para p{
    margin-left: 30px;
    padding: 30px;
    margin-bottom: 1px;
    font-size:20px;
}

.row1{
    display:flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
}